/* common style for all element */
* {
    margin: 0;
    padding: 0;
    box-sizing: ;
}

/* Google Fonts Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
/* Google Fonts Inter */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
/* Google Fonts Roboto */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@700&display=swap');

/* comon style for container */
body {
    width: 85%;
    margin: 0 auto;
    background-color: azure;
}

/* .top-section,
.advertize,
.influencer-featured,
.influencer-footer {
    width: 85%;
    margin: 0 auto;
} */

.influencer-header {
    margin: 50px 0 95px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    margin-right: 25px;
    font-family: 'Poppins', sans-serif;
    color: #3A3A3A;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

nav .second-span a {
    font-size: 1.1em;
}

nav a:hover {
    cursor: pointer;
    padding: 10px 15px;
    background-color: lightskyblue;
    color: hotpink;
    border-radius: 15px;
}

/* start top gear style */
.top-section {
    /* display: flex; */
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 60px;
    margin-bottom: 60px;

}

.top-gear .top-heading {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 70px;
    color: #3A3A3A;
}

.top-gear .top-info {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #3A3A3A;
    margin-bottom: 20px;
}

.top-gear .top-btn {
    background-color: #E02C6D;
    color: azure;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    border: none;
    padding: 12px 20px 12px 15px;
    border-radius: 30px;

}

.top-gear .top-btn:hover {
    background-color: lightskyblue;
    cursor: pointer;
    color: hotpink;
}

.top-section .top-camera {
    margin-top: -95px;
}

.top-section .top-camera img {
    width: 90%;
    transform: scale(1);
    animation: collection-img-move 3s infinite;
}

@keyframes collection-img-move {
    50% {
        transform: scale(0.90);
    }
}

/* start top gear style */

/* start style advertize */
.advertize {
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding-bottom: 100px;
}

.advertize img {
    margin-right: 60px;

}

hr {
    color: #787885;
    opacity: 0.1;
    box-shadow: 1px 1px 1px gainsboro;
    width: 80%;
    margin: 0 auto;
}

/* end style advertize */
/*************************
start style for influencer-gear main section 
**************************************/

.influencer-title {
    text-align: center;
    padding: 15px 0 30px 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 28px;
    color: #3A3A3A;
    margin: 100px 0 20px 0;
}

.influencer-container {
    /* background-color: azure; */
}


.influencer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    border-radius: 10px;
}

.collection-item {
    border-radius: 10px;
    padding: 10px;
    background-color: aliceblue;
    box-shadow: 2px 2px 2px gray;


}

.collection-img img {
    width: 100%;
    border-radius: 10px;
    transform: scale(1);
    animation: collection-img-move 3s infinite;
}

@keyframes collection-img-move {
    50% {
        transform: scale(0.90);
    }
}

.collection-info .collection-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    margin-top: 5px;
    color: #18191F;
}

.collection-info .collection-price {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #000000;
    line-height: 36px;
    font-size: 24px;
    margin-bottom: 5px;
}

.collection-info span {
    font-size: 14px;
    color: orange;
}

.collection-info .rating-point {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: #5E6366;
    margin-left: 5px;
}

.collection-info .product-info {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #787885;
    text-align: left;
}

.collection-see-more {
    margin-top: 30px;
    text-align: right;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: rgba(224, 44, 109, 0.87);
    cursor: pointer;

}

.collection-see-more .fa-arrow-right {
    margin-left: 5px;
}

.collection-see-more:hover .fa-arrow-right {
    background-color: #5E6366;

}

/*************************
end style for influencer-gear main section 
**************************************/


/*************************
start style for influencer-gear featured section
**************************************/
.influencer-featured {}

.featured {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    background-color: azure;
    padding-bottom: 70px;
    border-radius: 15px;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 80px; */

}

.featured-img {
    width: 52%;
}

.featured-img img {
    width: 90%;
    border-radius: 10px;
    transition: width 5s ease 2s, height 5s linear, transform 1s;
}

.featured-img img:hover {
    transform: rotate(180deg);
}

.featured-info {}

.featured-info h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700px;
    font-size: 38px;
    line-height: 60px;
    color: #0A0826;
    margin-bottom: 20px;
}

.featured-info .featured-product-info {
    font-family: 'Poppins', sans-serif;
    font-weight: 700px;
    font-size: 16px;
    line-height: 28px;
    color: #6C6C6C;
    font-style: normal;
    text-align: left;
}

.featured-info .featured-join {
    font-family: 'Poppins', sans-serif;
    font-weight: 700px;
    font-size: 16px;
    padding: 10px 20px;
    line-height: 24px;
    color: #FFFFFF;
    background-color: #E02C6D;
    margin-top: 20px;
    border-radius: 4px;
    border: none;
    box-shadow: 1px 2px 3px gray;


}

.featured-info .featured-join:hover {
    background-color: lightskyblue;
    color: #5E6366;
    cursor: pointer;
}

/*************************
end style for influencer-gear featured section
**************************************/
/*************************
start style for influencer-gear footer section
**************************************/
.influencer-footer {

    background-color: black;
    padding-top: 50px;
    border-radius: 10px;
}

.influencer-footer .footer-h2,
.footer-h3,
.footer-h4,
.social-button {
    color: #FFFFFF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    /* display: block; */
    /* ekhane ekta span element ase tai tar jonno disolay block kora hoise
    jase se block element er moto kaj kore */
}

.influencer-footer h2 {
    font-size: 24px;
    line-height: 36px;
}

.influencer-footer h3,
h4 {
    color: #D9DBE1;
    font-size: 14px;
    line-height: 24px;
}

.influencer-footer .btn {
    margin: 30px 12px 30px 0;
    font-size: 1.2em;
}

.influencer-footer .btn:hover {
    color: lightblue;
    color: blue;
}

/* responsive for mobile desvice */
@media screen and (max-width: 576px) {

    .top-section {
        grid-template-columns: 1fr;
    }

    .top-gear .top-btn {
        margin-bottom: 60px;
    }

    .advertize {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }

    .advertize img {
        margin-right: 30px;
    }

    .influencer {
        grid-template-columns: 1fr;
    }

    .featured {
        display: grid;
        grid-template-columns: 1fr;
    }

    .featured-img {
        width: 100%;
    }

    .featured-img img {

        width: 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .top-section {}

    .top-gear .top-btn {}

    .advertize {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 25px;
    }

    .influencer {
        grid-template-columns: repeat(2, 1fr);
    }

    .featured {
        display: grid;
        grid-template-columns: 1fr;
    }

    .featured-img {
        width: 100%;
    }

    .featured-img img {

        width: 90%;
        margin-bottom: 20px;
    }
}

/* end */